$color-accent: #134B3E
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #E7EDEC
$color-background: white
    
$body-font-family: "Aestetico", sans-serif
$heading-font-family: $body-font-family
$h1-weight: normal
$h2-size-desktop: px2rem(30)
$h2-weight: bold
$h5-text-transform: none
$quote-size-desktop-short: px2rem(40)

$header-background: $color-background-alt
$header-border-bottom-width: 0
$header-dropdown-full: true
$header-logo-height: 50px
$header-logo-height-desktop: 75px
$hero-background-color: $color-background-alt

$footer-color: $color-background
$footer-background-color: $color-accent
$footer-logo-height: 100px
$footer-logo-height-desktop: 130px
