.posts--grid,
.block-posts--grid
    .media
        img
            aspect-ratio: 1.5
            width: 100%

header#document-header
    .menu
        .dropdown-menu
            padding-bottom: $spacing0
            border-radius: 4px
            min-width: 200px
            text-align: left
        .nav-level-1
            align-items: center
            > li:last-of-type
                a
                    background: white
                    border-radius: 40px
                    padding: $spacing0 $spacing1
                    display: table
                    margin: 20px auto
                    &::after
                        display: none
                    &::before
                        content: ''
                        width: 24px
                        height: 24px
                        background-image: url('/assets/images/lock.svg')
                        margin-right: 7px
                        vertical-align: top
                        display: inline-block
        .nav-level-2
            > li 
                > a, span
                    @include meta
        @include media-breakpoint-up(desktop)
            .nav-level-1
                > li:last-of-type
                    margin-left: $spacing0
                    a
                        background: white
                        margin: 0
        @include media-breakpoint-down(desktop)
            .dropdown-menu
                background: transparent !important


.organizations .organization .media,
.organizations__page .document-content .logo picture    
    background: none
    border: 1px solid $color-border
        // object-position: center left
        // padding: 0 $spacing2 0 0

footer#document-footer
    > .container
        align-items: end
        padding-bottom: 0
        justify-content: start
    .footer-contact
        @extend .footer-social
    .footer-legals
        a, small
            color: rgba($footer-color, 0.5)
        a:hover
            color: rgba($footer-color, 1)
    @include media-breakpoint-up(desktop)
        > .container
            min-height: 432px
        .footer-logo, .footer-legals
            width: col(3)
        .footer-logo
            margin-right: col-offset(1)
        .footer-social
            width: col(2)
            order: inherit
            text-align: left
            a
                text-decoration-color: $footer-color
        .footer-contact
            @extend .footer-social
            margin-right: $grid-gutter
        .footer-legals
            margin-left: col-offset(1)

figcaption
    p
        text-align: right

.breadcrumb-container
    border-bottom: 1px solid $color-background-alt
    margin-bottom: $spacing2

.page__home
    .hero
        @include media-breakpoint-up(desktop)
            hgroup 
                h1
                    font-size: px2rem(100)
                    line-height: 1.1
                p
                    font-size: px2rem(30)

.block-call_to_action
    .call_to_action
        .description a
            text-decoration-color: rgba(255, 255, 255, 0.2)
            &:hover
                text-decoration-color: rgba(255, 255, 255, 0.5)
